<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <img
    src="./images/lisa-profile.jpg"
    alt="user-picture"
    style="width: 350px; max-height: 350px;"
  />
</div>
<hr />
<div class="user-details">
  <h1>Portfolio</h1>
</div>
<div class="single-project" style="margin: 0px 0px 45px;">
  <img
    src="./images/codelet.png"
    alt="codelet-image"
    style="max-height: 250px;"
    class="project-image"
  />
  <div>
    <p style="padding: 0px 15px;">
      Codelet is a helpful study tool inspired by Quizlet. Create sets on any
      coding related topics you want to study and add flashcards, or choose from
      the many pre-made sets available. Cement your knowledge with helpful study
      tools such as quizzes, matching games, and flip - to - study versions of
      cards.
    </p>
    <div class="project-icons">
      <a
        aria-label="codelet-github"
        target="_blank"
        href="https://github.com/b-tsui/Codelet-Frontend"
        ><i class="icon fa fa-github" aria-hidden="true"></i
      ></a>
      <a
        aria-label="codelet-link"
        target="_blank"
        href="https://www.codelet.info/"
        ><i class="icon fa fa-link" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
<div class="single-project-reversed" style="margin: 0px 0px 45px;">
  <div>
    <p style="padding: 0px 15px;">
      FoodFeed is a photo sharing application for food enthusiasts, inspired by
      Instagram. Users can create posts, upload images, comment and like each
      other's posts.
    </p>
    <div class="project-icons">
      <a
        aria-label="foodfeed-github"
        target="_blank"
        href="https://github.com/lkang97/FoodFeed"
        ><i class="icon fa fa-github" aria-hidden="true"></i
      ></a>
      <a
        aria-label="foodfeed-link"
        target="_blank"
        href="https://foodfeed.netlify.app/"
        ><i class="icon fa fa-link" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <img
    src="./images/foodfeed.png"
    alt="foodfeed-image"
    style="max-height: 250px;"
    class="project-image"
  />
</div>
<div class="single-project">
  <img
    src="./images/clack.png"
    alt="clack-image"
    style="max-height: 250px;"
    class="project-image"
  />
  <div>
    <p style="padding: 0px 15px;">
      Clack is a messaging application inspired by Slack that brings the team
      together, wherever you are with all of your communication and tools in one
      place. Remote teams will stay productive no matter where you're working
      from.
    </p>
    <div class="project-icons">
      <a
        aria-label="clack-github"
        target="_blank"
        href="https://github.com/b-tsui/Clack-App"
        ><i class="icon fa fa-github" aria-hidden="true"></i
      ></a>
      <a
        aria-label="clack-link"
        target="_blank"
        href="https://clackapp.herokuapp.com/"
        ><i class="icon fa fa-link" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
<hr />
<div class="user-details">
  <h1>Skills</h1>
  <div class="skills-container">
    <div class="img">
      <img src="./images/javascript.svg" class="skills-image" />
    </div>
    <div class="img">
      <img src="./images/Python.svg" class="skills-image" />
    </div>
    <div class="img">
      <img src="./images/flask.svg" class="skills-image" />
    </div>
    <div class="img">
      <img src="./images/nodejs.svg" class="skills-image" />
    </div>
    <div class="img">
      <img src="./images/html5.svg" class="skills-image" />
    </div>
    <div class="img">
      <img
        src="./images/React-icon.svg"
        class="skills-image"
        style="height: 140px; width: 140px;"
      />
    </div>
    <div class="img">
      <img src="./images/css3.svg" class="skills-image" />
    </div>
    <div class="img">
      <img src="./images/git.svg" class="skills-image" />
    </div>
    <div class="img">
      <img src="./images/postgresql.svg" class="skills-image" />
    </div>
    <div class="img">
      <img
        src="./images/heroku.svg"
        class="skills-image"
        style="padding-left: 35px;"
      />
    </div>
  </div>
</div>
