<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:lleekkang@gmail.com"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a
        aria-label="My Angellist"
        target="_blank"
        href="https://angel.co/u/lkang97"
        ><i class="icon fa fa-angellist" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My LinkedIn"
        target="_blank"
        href="https://www.linkedin.com/in/lisa-kang-a084641aa/"
        ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Github"
        target="_blank"
        href="https://github.com/lkang97"
        ><i class="icon fa fa-github" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Resume"
        target="_blank"
        href="https://docs.google.com/document/d/1ucdtgRxt_MpoXEOaMW3cncx-0xZNGnv7B9MKcOPYACY/export?format=pdf"
        ><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="header-links">
      <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
    </div>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
