<div class="portfolio-details">
  <h1>Portfolio</h1>
</div>
<div class="single-project">
  <img src="./images/codelet.png" alt="codelet-image" style="height: 300px;" />
  <div>
    <p>
      Codelet is a helpful study tool inspired by Quizlet. Create sets on any
      coding related topics you want to study and add flashcards, or choose from
      the many pre-made sets available. Cement your knowledge with helpful study
      tools such as quizzes, matching games, and flip - to - study versions of
      cards.
    </p>
  </div>
</div>
<div class="single-project">
  <div>
    <p>
      FoodFeed is a photo sharing application for food enthusiasts, inspired by
      Instagram. Users can create posts, upload images, comment and like each
      other's posts.
    </p>
  </div>
  <img
    src="./images/foodfeed.png"
    alt="foodfeed-image"
    style="height: 300px;"
  />
</div>
<div class="single-project">
  <img src="./images/clack.png" alt="clack-image" style="height: 300px;" />
  <div>
    <p>
      Clack is a messaging application inspired by Slack that brings the team
      together, wherever you are with all of your communication and tools in one
      place. Remote teams will stay productive no matter where you're working
      from.
    </p>
  </div>
</div>
